{% extends 'base/base.html' %}

{% block footer%}


<table class ="table table=bordered">
    <thead>
        <tr>
            <td>#</td>
            <td>UsuarioUnab</td>
            <td>dia</td>
            <td>mes</td>
            <td>año</td>
            <td>IdEjercicio</td>
            <td>Puntaje</td>
        </tr>
    </thead>
    <tbody>
         {% if object_list %}
         {% for tablon in object_list %}
        <tr>
            <td>{{tablon.id}}</td>
            <td>{{tablon.UsuarioUnab}}</td>
            <td>{{tablon.dia}}</td>
            <td>{{tablon.mes}}</td>
            <td>{{tablon.año}}</td>
            <td>{{tablon.IdEjercicio}}</td>
            <td>{{tablon.Puntaje}}</td>           
        </tr>
        {% endfor %}

        {% else %}
        <h1>No hay registros </h1>

        {% endif %}
        </tbody>
        
</table>
{% endblock %}